.screen {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 3em;
    color: #161617;
    border-radius: 10px 10px 0 0;
}

.numberRed {
    color: red;
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}