body {
    background-color: #e9e8f5;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #283699;
}

.app-inner {
    display: grid;
    grid-template-columns: 360px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.box {
    padding: 15px;

    background-color: #283699;
    border-radius: 10px;
}

